<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.modules.sys.mapper.AdvertiseRuleMapper" >

  <sql id="Base_Column_List" >
    t.id,
    t.merchant_id,
    t.name,
    t.ratio,
    t.min_money,
    t.task_type,
    t.describe,
    t.type,
    t.create_by,
    t.create_date,
    t.update_by,
    t.update_date,
    t.del_flag,
    t.remarks
  </sql>
  
</mapper>